


<%= form_tag initial_stop_stops_path, :method => :get, :remote => true, :id => 'initial_stop_form',:class => "form-horizontal form-bordered"  do %>
    
  <div class="form-group">
   <label class="col-md-3 control-label" for="">Date of Stop: <em>*</em></label>
    <div class="col-md-6">
     <input id="date" value=" " class="form-control" data-provide='datepicker' placeholder="mm/dd/yyyy">
      </div>
        <div id='date-error' class='hide error'>Date of Stop cannot be blank</div>
      <div id='invalid-date-error' class='hide error'>Date of Stop is invalid</div>
  </div>  
    

  <div class="form-group">
    <label class="col-md-3 control-label" for=""> Time of Stop: <em>*</em></label> 
     <div class="col-md-6">
      <input type="text"  size="5" placeholder="Enter time value in military hh:mm format" id="hour" maxlength="5"  class="form-control" >
    </div>
    <div id='hour-error' class='hide error'>Time of Stop cannot be
blank</div>
    
  </div>  


  <div class="form-group">
     <label class="col-md-3 control-label" for=""> Duration of Stop: <em>*</em></label>
      <div class="col-md-6">
       <input type="number" placeholder="Please enter duration in minutes" min="1" max="1440" id="min" class="form-control">
      </div>
      <div id='min-error' class='hide error'>Duration
of Stop cannot be blank</div>
  </div>  
  
  
   <div class="form-group">
      <label class="col-md-3 control-label" for="">Experience: <em>*</em></label>
       <div class="col-md-6"> 
        <input type="number" id="experience" name="firstname" value=" " class="form-control" min=0 > 
       </div>
        <div id='exp-error' class='hide error'>Experience cannot be blank</div>
    </div>  
  

  <div class="form-group">
   <label class="col-md-3 control-label" for="">Assignment Type: <em>*</em></label>
    <div class="col-md-6 ">
      <select id = "select" class="form-control"> 
      <option>Select</option>
       <option> Patrol, traffic enforcement, field operations</option>
       <option> Gang enforcement</option>
       <option> Compliance check (e.g., parole/PRCS/probation/mandatory supervision)</option>
       <option> Special events (e.g., sports, concerts, protests)</option>
       <option> Roadblock or DUI sobriety checkpoint</option>
       <option> Narcotics/vice</option>
       <option> Task force</option>
       <option> K-12 Public School, including school resource officer or school police officer</option>
       <option> Investigative/detective</option>
       <option> Other</option>
      </select>

    </div>
    <div id='ass-error' class='hide error'>Please select Assignment type</div>
  </div>  
  
  <!--<div class="form-group">
     
     <label class="col-md-3 control-label" for="">Other Assignment Type: </label>
   
    <div class="col-md-6">
      
    </div> 
    
    
  </div>  -->
  
 


  <input type="submit" value="Next" class="btn btn-primary pull-right">
  
<% end %>


<script type="text/javascript">
// Form validation code will come here.


$('document').ready(function(){
  var dateMMDDYYYRegex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/ ;
  $('#initial_stop_form').submit(function(e){
    $(".error").removeClass("error");
    e.preventDefault()
    if($('#date').val().length == 1) {
      $('#date-error').removeClass('hide');
      if(dateMMDDYYYRegex.test($('#date').val())){
        $("invalid-date-error").removeClass('hide');
      }
    }
    else{
      $('#date-error').addClass('hide');
    }

    if($('#min').val().length == 0) {
      $('#min-error').removeClass('hide');
    }
    else{
      $('#min-error').addClass('hide');
    }
    if($('#experience').val().length == 0) {
      $('#exp-error').removeClass('hide');
    }
    else{
      $('#exp-error').addClass('hide');
    }
    if($('#hour').val().length == 0) {
      $('#hour-error').removeClass('hide');
    }
    else{
      $('#hour-error').addClass('hide');
    }
    if($("#select").val() == "Select"){   
       $('#ass-error').removeClass('hide');
       return false
    }
    else {
      $('#ass-error').addClass('hide');
    }
  });
});

var date = new Date();
date.setDate(date.getDate()-1);

$('#date').datepicker({ 
    startDate: date
});
  
</script>

<style>
  
 
</style>




