<div class="container">

<h2> Person - 1</h2>

<button type="button" class="pull-right btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"></span> Add Person
</button>

<div class="person_form">

<%= form_tag person_details_stops_path, :method => :get, :remote => true, :class => "form-horizontal form-bordered"  do %> 

<div class="row">

  <div class="col-md-6">
    <fieldset>
      <b>Preceived Race Set:<em>*</em> </b> <br/>
      <input type=checkbox value= asian name= Asian > Asian <br>
      <input type=checkbox value=black_or_african_american name=Black/African >Black/African <br>
      <input type=checkbox value="hispanic_latino" name=Hispanic/Latino(a)>Hispanic/Latino(a) <br>
      <input type=checkbox value="middle_eastern_or_south_asian" name=Middle_Eastern_or_South_Asian>Middle Eastern or South Asian <br>
      <input type=checkbox value="native_american" name= Native_American>Native American <br>
      <input type=checkbox value="pacific_islander" name=Pacific_Islander>Pacific Islander <br>
      <input type=checkbox value="white" name=White>White<br>
    </fieldset>
  </div>  



  <div class="col-md-6">
    <fieldset>
      <b> Preceived Gender: <em>*</em></b><br>
      
      <input type=checkbox value="male">Male <br>
      <input type=checkbox value="female">Female <br>
      <input type=checkbox id="tansgender_man" value="transgender_man_boy">Transgender man/boy <br>
      <input type=checkbox id="tansgender_woman" value="transgender_woman_girl">Transgender woman/girl <br>
       <input type=checkbox id="gender_nonconfirming" value="transgender_woman_girl">Gender Nonconfirming <br>
       
    </fieldset>
  </div>  

</div>    
  
<div class="row row-buffer">
   <div class="col-md-6">
    <b>Preceived Age <em>*</em></b><br/>
    <input type="number" name="quantity" min="1" max="100" class="form-control" style="width:400px;"> <br>
  </div> 
    
 
  <div class="col-md-6">
   <b>Perceived to be LGBT?<em>*</em></b><br/>
     <input type=checkbox id="lgbt" value="lgbt"> LGBT <br>
      
  </div>    
</div>  


<div class="row row-buffer ">

  <div class="col-md-6">

    <fieldset>
      <b>Preceived Disability: <em>*</em></b></br>
      <input type=checkbox value="deafness_or_difficulty_hearing">Deafness or difficulty hearing<br>   
      <input type=checkbox value="speech_impairment_or_limited_use_of_language">Speech impairment or limited use of language<br>
      <input type=checkbox value="blind_or_limited_vision">Blind or limited vision<br>
      <input type=checkbox value="mental_health_condition">Mental health condition<br>
      <input type=checkbox value="intellectual_or_developed_disability">Intellectual or develeoped disability,including dementia<br>
      <input type=checkbox value="other_disability">Other disability<br>
      <input type="checkbox" value="none">None   <br/>
      <input type="checkbox" value="disability_related_to_hyperactivity_or_impulsive_behavior">Disability related to hyperactivity or impulsive behavior<br>
    </fieldset>

  </div>  

   <div class="col-md-6">
    <b>Preceived English Fluency<em>*</em></b><br/>
    <input id="checkBox" type="checkbox"> Limited English Fluency 
  </div>  
</div>

<div class="row row-buffer pull-right">    
   <input type="submit" value="Next" class="btn btn-primary pull-right">
</div>   


<%end%> 

</div>

</div>




<script type="text/javascript">
  
  $('#tansgender_man').change(function(){
    if($("#tansgender_man").is(":checked")) {
     $('#lgbt').attr('checked', true);
    }
    
    if($("#tansgender_woman").is(":checked")){
      $('#lgbt').attr('checked', true);
    }
    
  });

</script>
