<div class="container">

<h2> Contact - 1</h2>

<!--
<button type="button" class="pull-right btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"></span> Add Person
</button>
-->

<div class="person_form">

<%= form_tag person_details_stops_path, :method => :get, :id => 'person_details_form', :remote => true, :class => "form-horizontal form-bordered"  do %>

<!--div class = "row">
<<div class="col-md-6">
   <b>Contact number:<em>*</em><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span> </b>
   <input type="number" name="contact_number" placeholder="(xxx) xxx-xxxx" class="form-control" style="width:400px;">
  </div>
  </div> -->

<div class="row">

  <div class="col-md-6">

    <fieldset>
      <b>Perceived Race Set:<em>*</em><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span> </b><b class='raceError'style="display:none;">Please select atleast one option</b>
<br/>
      <input type="checkbox" class="perceived_race_set" name="perceived_race_set[]" value="1"> Asian <br>
      <input type="checkbox" class="perceived_race_set" name="perceived_race_set[]" value="2"> Black/African <br>
      <input type= "checkbox" class="perceived_race_set" name="perceived_race_set[]" value="3"> Hispanic/Latino(a) <br>
      <input type= "checkbox" class="perceived_race_set" name="perceived_race_set[]" value="4"> Middle Eastern or South Asian <br>
      <input type= "checkbox" class="perceived_race_set" name= "perceived_race_set[]" value="5"> Native American <br>
      <input type= "checkbox" class="perceived_race_set" name="perceived_race_set[]" value="6"> Pacific Islander <br>
      <input type= "checkbox" class="perceived_race_set" name="perceived_race_set[]" value="7"> White<br>
    </fieldset>
  </div>



  <div class="col-md-6">
    <fieldset>
      <b> Perceived Gender: <em>*</em><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span></b><b class='genderError'style="display:none;">Please select atleast one option</b><br>

      <input type=checkbox class="perceived_gender" name="perceived_race_gender" value="1"> Male <br>
      <input type=checkbox class="perceived_gender" name="perceived_race_gender" value="2"> Female <br>
      <input type=checkbox class="perceived_gender" id="tansgender_man" name="perceived_race_gender" value="3"> Transgender man/boy <br>
      <input type=checkbox class="perceived_gender" id="tansgender_woman" name="perceived_race_gender" value="4"> Transgender woman/girl <br>
      <input type=checkbox class="perceived_gender_non_confirming" name="perceived_gender_non_confirming" value="5"> Gender Nonconfirming <br>

    </fieldset>
  </div>

</div>

<div class="row row-buffer">
   <div class="col-md-6">
    <b>Perceived Age <em>*</em><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span></b><br/>
    <input type="number" class="perceived_age" name="perceived_age" min="1" max="120" class="form-control" style="width:400px;"> <br>
  </div>


  <div class="col-md-6">
   <b>Perceived to be LGBT?</b><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span><br/>

     <input type="radio" class="perceived_lgbt" id="lgbt" name="perceived_lgbt" value="yes" /> Yes &nbsp &nbsp
     <input type="radio" class="perceived_lgbt" name="perceived_lgbt" value="no" /> No
  </div>
</div>


<div class="row row-buffer ">
  <div class="col-md-6">
    <b>Is Person Stopped a Student?<em>*</em><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span></b><b class='studentError'style="display:none;">Please select atleast one option</b><br/>

    <input type="radio" class="is_person_student" name="person_is_student" value="yes" /> Yes &nbsp &nbsp
    <input type="radio" class="is_person_student" name="person_is_student" value="no" /> No
  </div>
   <div class="col-md-6">
    <b>Perceived English Fluency</b><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span><br/>

    <input type="radio" class="perceived_english_fluency" name="perceived_english_fluency" value="yes" /> Yes &nbsp &nbsp
    <input type="radio" class="perceived_english_fluency" name="perceived_english_fluency" value="no" /> No

  </div>
</div>

<div class="row row-buffer">
  <div class="col-md-6">
    <fieldset>
      <b>Perceived Disability: <em>*</em><span href="#" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Officer's information">  </span></b><b class='disabilityError'style="display:none;">Please select atleast one option</b></br>
      <input type="checkbox" class="perceived_disability" name="perceived_disability[]" value="1"> Deafness or difficulty hearing<br>
      <input type="checkbox" class="perceived_disability"  name="perceived_disability[]" value="2"> Speech impairment or limited use of language<br>
      <input type="checkbox" class="perceived_disability" name="perceived_disability[]" value="3"> Blind or limited vision<br>
      <input type="checkbox" class="perceived_disability"  name="perceived_disability[]" value="4"> Mental health condition<br>
      <input type="checkbox" class="perceived_disability" name="perceived_disability[]" value="5"> Intellectual or developed disability, including dementia<br>
      <input type="checkbox" class="perceived_disability" name="perceived_disability[]" value="6"> Other disability<br>
      <div class="student_perceived_disability_disability">
        <input type="checkbox" class="perceived_disability perceived_disability_disability"  name="perceived_disability[]" value="7"> Disability related to hyperactivity or impulsive behavior <br>
      </div>
      <input type="checkbox" class="perceived_disability"  name="perceived_disability[]" value="8"> None   <br/>
      <br>
    </fieldset>

  </div>

</div>

<div class="row row-buffer pull-right">

  <div class="col-md-6">
    <input type="submit" value="Next" class="btn btn-primary pull-right person_details_submit">
  </div>

</div>


<%end%>

</div>

</div>




<script type="text/javascript">
  //var a = true;
  $(document).ready(function(){
    $('.student_perceived_disability_disability').hide();
    $(".select_reason_for_stop option[value='student_conduct_warning']").hide();
    $(".select_reason_for_stop option[value='student_violated_school_policy']").hide();
  });

  $('#tansgender_man').change(function(){
    if($("#tansgender_man").is(":checked")) {
     $('#lgbt').attr('checked', true);
    }
    else{
      $('#lgbt').attr('checked', false);
    }

  });

  $("#tansgender_woman").change(function(){
   if($("#tansgender_woman").is(":checked")){
      $('#lgbt').attr('checked', true);
    }
    else{
      $('#lgbt').attr('checked', false);
    }
  });

  $(".is_person_student").change(function(){
    //alert();
     if($(".is_person_student:checked").val() == "yes"){
       $('.student_perceived_disability_disability').show();
       $(".select_reason_for_stop option[value='student_conduct_warning']").show();
       $(".select_reason_for_stop option[value='student_violated_school_policy']").show();
       $(".person_stopped_student").show();
     }
     if($(".is_person_student:checked").val() == "no"){
       //alert();
       $('.student_perceived_disability_disability').hide();
       $(".select_reason_for_stop option[value='student_conduct_warning']").hide();
       $(".select_reason_for_stop option[value='student_violated_school_policy']").hide();
       $(".person_stopped_student").hide();
     }
  });

  $('.person_details_submit').click(function(){

    if($('.perceived_gender:checked').length < 1){
      $('.perceived_gender_non_confirming').attr('checked', true);
    }
    if($('.is_person_student:checked').length < 1){
      $('.studentError').show();
      //return false;
    }
    else {
      $('.studentError').hide();
    }
    if($('.perceived_race_set:checked').length < 1){
      $('.raceError').show();
      //return false;
    }
    else {
      $('.raceError').hide();
    }
    if($('.perceived_gender:checked').length < 1){
      //$('.genderError').show();
      //return false;
    }
    else {
      //$('.genderError').show();
    }
    if($('.perceived_disability:checked').length < 1){
      $('.disabilityError').show();
      return false;
    }
    else {
      $('.disabilityError').hide();
    }

  });

  $("#person_details_form").validate({
      rules: {
          perceived_age: {required: true}
      },
      messages: {
          input: { required: "required" }
      },
      ignore:      "",
      errorClass:  'fieldError',
      onkeyup:     false,
      onblur:      false,
      errorElement:'label',
      submitHandler: function(form) {
            $.rails.handleRemote( $(form) );
      }
  });
</script>
