
<%= form_tag reason_for_stop_stops_path, :method => :get, :remote => true, :id => 'reason_for_stop_form',:class => "form-horizontal form-bordered"  do %>

<div class="form-group">
  
    <label class="col-md-3 control-label" for="" >Primar Reason for Stop: <em>*</em></label>
   
    <div class="col-md-6">
      <select>
      	<option>  Traffic violation</option>
      	<option>  Reasonable suspicion of criminal activity</option>
      	<option>  Known to be on parole/probation/PRCS/mandatory supervision</option>
      	<option>  Knowledge of outstanding arrest warrant/wanted person</option>
      	<option>  Investigation to determine whether the person was truant</option>
      	<option>  Consensual encounter resulting in search</option>
      	<option>  Possible conduct warranting discipline under Education Code</option>
      	<option>  Determine whether the student violated school policy</option>


      </select>
    </div>
    
 </div>  


<div class="form-group">
  
    <label class="col-md-3 control-label" for="" > Reason for Stop Explanation/Narrative: <em>*</em></label>
   
    <div class="col-md-6">

    <textarea rows="6" cols="60" maxlength="250"> Enter text here...</textarea>
    </div>


</div>



<div class="form-group">
  <label class="col-md-3 control-label" for="" > Type of Traffic violation: <em>*</em></label>
   <div class="col-md-6">
    <select>
        <option>  Moving</option>
        <option>  Equipment violation</option>
        <option>  Non-moving violation, including registration violation</option>
    </select>
    </div>
</div>


<div class="form-group">
  <label class="col-md-3 control-label" for="" > Traffic Violation CJIS Offense Code:
 <em>*</em></label>
   <div class="col-md-6">
    <select>
        <option>  Code Type (e.g. Vehicle Code, Penal Code, etc)</option>
        <option>  Code Section (e.g. 290, 647, etc)</option>
        <option>  Description (e.g. Drunk in public)</option>
    </select>
    </div>
</div>
<% end %>