<section role="main" class="content-body">
    
   

  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="fa fa-caret-down"></a>
        <a href="#" class="fa fa-times"></a>
      </div>

      <h2 class="panel-title"></h2>
    </header>

    
    <div class="panel-body">    

        <div class="col-md-12 col-lg-12">

          <div class="tabs">
            <ul class="nav nav-tabs tabs-primary">
              <li class="active initial_stop">
                <a href="#link_intial_stop_data" data-toggle="tab">Initial Stop Data</a>
              </li>
              
              </li>
              <li class="person_details">
                <a href="#link_person_details" data-toggle="tab">Preceived Data/Person details</a>
              </li>
              <li class="location">
                <a href="#link_location" data-toggle="tab">Location</a>
              </li>
              
              <li class="stop_reason">
                <a href="#link" data-toggle="tab">Stop Reason</a>
              </li>
              <!--
              <li class="skills_li">
                <a href="#skills" data-toggle="tab">Post Stop Action</a>
              </li>
              <li class="stop_type">
                <a href="#link_stop_type" data-toggle="tab">Stop Type</a>
              
              <li class="skills_li">
                <a href="#skills" data-toggle="tab">Search</a>
              </li>
              
              <li class="skills_li">
                <a href="#skills" data-toggle="tab">Items Seized</a>
              </li>
              
              <li class="skills_li">
                <a href="#skills" data-toggle="tab">Result of Stop</a>
              </li>
              
              <li class="skills_li">
                <a href="#skills" data-toggle="tab">Officers at Scene</a>
              </li> -->
              <div class="container" >
  
  <div class="pull-right"><a href="/login" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-log-out"></span>Log out</a> </div>
            </ul>
            <div class="tab-content">

              <div id="link_intial_stop_data" class="tab-pane active">
                <%= render 'stops/initial_stop' %>
              </div>
              
              <div id="link_stop_type" class="tab-pane">
                <%= render 'stops/stop_type' %>
              </div>
              <div id = "link_person_details" class="tab-pane">
                <%= render "stops/person_details"%>
              </div>
              <div id="#link_location" class="tab-pane">
                <%= render 'stops/location' %>
              </div>
            </div>
          </div>  

        </div>

    </div> 
    <div align="center">
    <button type="button" class="btn btn-primary">New Stop</button>
      <button type="button" class="btn btn-success">Incomplete</button>
      <button type="button" class="btn btn-info">account</button>
      </div>

  </section>
      
</section>


