<div class="container" >
  
  <div class="pull-right"><a href="/login" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-log-out"></span>Log out</a> </div>


  <h3 style="color: brown;">Hello Multiple role user </h3>
    <%# raise @parsed_cookie["roles"].inspect %>



	<br/><br/>
  
	<div class="row offset3"> 

		<div class="col-md-6 border-right">
			<table>
				<tr>
					<td>
						<label>ORI:</label>
					</td>
					<td>
						<p> SD03200 </p>
 					</td>
				</tr>
				<tr>
					<td>
						<label>User ID:</label>
					</td>
					<td>
						<p> U79345 </p> 
					</td>
				</tr>
				<tr>
					<td>
						<label>User Email:</label>
					</td>
					<td>
						<p> Multiple_roles_user@gmail.com </p>
					</td>
				</tr>
				<tr>
					<td>
						<label>User Roles:</label>
					</td>
					<td>
						<p> "DOJ View Only" ,"DOJ Application Administrator", .. </p>
					</td>
				</tr>

				<tr>
					<td>
						<label>Default Roles:</label>
					</td>
					<td>
						<p class="action_items"> </p>
					</td>
				</tr>

			</table>
				
		</div>

		<div class="col-md-5 col-md-offset-1 "> 

			
						
					</td>
				</tr>
			</table>	

	  </div>


	  <div class="col-md-5 col-md-offset-1">

			<table>
				<tr>
					<td>
						<label>Select user role : </label>
					</td>
					<td>					

						<%= select_tag "roles",  options_for_select(["DOJ View Only","DOJ Application Administrator" ,"LEA Officer","LEA Proxy", "LEA Administrator", "LEA Error Resolution", "LEA View Only"])%>
					</td>
				</tr>
				
			</table>	

	  </div>

	</div>




	<div class="row" style="margin-top: 100px;">
		
		<div class="actions">


		   <h4 style="color: black;">User Actions :</h4>

		   <p class="action_items1"> </p>
		
		</div>

	</div>	

		</div>
</div>


<div class="modal fade" id="confirm-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Change Role</h4>
            </div>
        
            <div class="modal-body">
                <p>Do you really want to change your role ?</p>
                <p class="debug-url"></p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="btn-okay">okay</a>
            </div>
        </div>
    </div>
</div>




<script>
    
</script>


<style>
	.border-right {
    border-right: 1px solid black;
	}
</style>



<style>
	.border-right {
    border-right: 1px solid black;
	}
</style>

<script>
	

	$(document).ready(function(){	
		$('.action_items1').append('Action: logged in as multiple role user' + '<br/>');
	});

	$('#roles').on('change', function() { 
		var cookies_list = [];
		var a =  $('#roles').val();

		//alert(a)
		cookies_list.push(a);       
		//alert("0");
		$('#confirm-ok').modal('show');

		document.getElementById('btn-okay').onclick = function() {
			$('#confirm-ok').modal('hide');
			$('.action_items').html("");
			for (i = 0; i < cookies_list.length; i++) { 
	 		   $('.action_items').append(cookies_list[i] + '<br/>');
			}
		}
	});
</script>



		


  