<div class="container" >
  
    <h3 style="color: blue;">Hello multiple role page</h3>
    <%# raise @parsed_cookie["roles"].inspect %>
   
  </div>
  
</div>


<br/><br/><br/><br/>

<div class="row offset3"> 

 <div class="container">
	<div class="col-md-8">
		<%= select_tag "roles",  options_for_select(@parsed_cookie["roles"]) %>
	</div>

	<div class="col-md-4">

		<input type="submit" value="Continue">

	</div>

	
 

<br/><br/><br/><br/>

  <div class="jumbotron">
  
  <%= button_to "Logout", login_path, method: :get %>


    
  </div>
 


</div>

 </div>


<script>
	var cookies_list = [];

	$(document).ready(function(){	
		cookies_list.push("action: logged in as multiple user");
		$('.jumbotron').append(cookies_list[0]);
	});

	$('#roles').on('change', function() { 
		var a = "User selected role to : " + $('#roles').val();
		cookies_list.push(a);       

		for (i = 0; i < cookies_list.length; i++) { 
 		   $('.jumbotron').append(cookies_list[i]);
		}
	});
</script>


  