


<div class="container" >
    <h3>Hello Single role page</h3>
   
  </div>
  
</div>


<br/><br/><br/><br/>

<div class="row "> 

 <div class="container">
	<div class="col-md-1">
	</div>

	<div class="col-md-8">

		<input type="submit" value="Continue">

	</div>

	
 

<br/><br/><br/><br/>

  <div class="jumbotron">
  
  <%= button_to "Logout", login_path, method: :get %>
    
  </div>
 




	





</div>

 </div>




  