
<!DOCTYPE html>
<html>
  <head>
    <title>Ab953Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class="global-nav navbar navbar-inverse">
      <div class="navbar-inner">


        <h1 class="text-center"> 
        <a class="pull-left" href="#"> <img src="/assets/doj-seal.png" alt="" height = "90px">

        </a><span class="m1-title"> Stop Data Collection System</span></h1>
              
              
                
      </div>
    </div>

    <%= yield %>
    
    <style>

      body {
        
        padding: 10px;
      }      

      .m1-title {
          font-family: "Times New Roman", Times, serif;
          font-size: 30px;
          margin-left: -10%;
          color: white;
      }

    </style>


  </body>


</html>
