
<!DOCTYPE html>
<html>
  <head>
    <title>Ab953Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class="global-nav navbar navbar-inverse" style="margin-bottom: 0px !important">
      <div class="navbar-inner">

        <div class="row">

          <div class="col-md-3">
            <a class="pull-left" href="#"> <img src="/assets/doj-seal-header_321_pixel.png" alt="" height = "90px"></a>

          </div>    

          <div class="col-md-5">
              
          <h1 class="text-center"> 
          
            <span class="m1-title"> Stop Data Collection System</span>
          </h1>

          </div>  

          <div class="col-md-4" style="margin-top: 30px;">    
            
            <ul class="nav navbar-nav navbar-right"> 
              <li><a href="/">Alameda PD</a></li> 
              <li><a>lea_agent_uid@gmail.com</a></li> 

              <li><a class="log_out btn btn-default btn-sm"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li> 
            </ul> 
          </div>

        </div>  
       
            
      </div>
     
    </div>




    <%= yield %>
 
    <style>

      body {
        
        padding: 10px;
      }      

      .m1-title {
          font-family: "Times New Roman", Times, serif;
          font-size: 30px;
          margin-left: -10%;
          color: white;
      }

    </style>
  
  <div style="position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f5f5f5;
   color: black;
   text-align: center;font-family: Georgia,Serif;">
      <p class="text-center">For Assistance, Please contact your local administrator prior to contacting the DOJ at 916-210-3305 or stopdatasupport@doj.ca.gov</p>


  </div>



<div class="modal fade" id="confirm-logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
        
            <div class="modal-body">
                <p> Do you want to save before logging out of the application ?</p>
                <p class="debug-url"></p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="btn-okay">okay</a>
            </div>
        </div>
    </div>
</div>

<script>
  $('.log_out').click(function(){
    $('#confirm-logout').modal('show');
    document.getElementById('btn-okay').onclick = function() {
      $('#confirm-ok').modal('hide');
      window.location.replace("/login");
    }
  });

</script>

     




</body>


</html>
