
<!DOCTYPE html>
<html>
  <head>
    <title>Ab953Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  

  <body>
  
  
    <div class="global-nav navbar navbar-inverse">
      <div class="navbar-inner">

      
      
        <div>      
            <a class="brand" href="/"><img src="/assets/doj-seal.png" alt="" height = "90px"></a>
        </div>
      </div>
      <h3 class="page-title"> </h3>
    </div>



<h1 class="doj">
<span id = "m1-title" >California AB953 Law Website</span>
<br>
<span class ="main-title">State of California Department of Justice</span>
<span class ="nowrap-gray"> Office of the Attorney General</span>
</h1>










<style>

body {

background-color: lightgrey;
padding: 10px;
}


.doj{
text-align: center;
  
}
#m1-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color:#069;
}


.main-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color:#069;
}

.nowrap-gray{
  color: #898989; 
  font-size: 18px;
}



</style>






    <%= yield %>
  </body>


</html>
