
<!DOCTYPE html>
<html>
  <head>
    <title>Ab953Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class="global-nav navbar navbar-inverse">
      <div class="navbar-inner">


        <h1 class="text-center"> 
        <a class="pull-left" href="#"> <img src="/assets/doj-seal-header_321_pixel.png" alt="" height = "90px">

        </a><span class="m1-title"> Stop Data Collection System</span></h1>
              
              
                
      </div>
      <div class="pull-right"><a href="/login" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-log-out"></span>Log out</a> </div>
    </div>


    <%= yield %>
 
    <style>

      body {
        
        padding: 10px;
      }      

      .m1-title {
          font-family: "Times New Roman", Times, serif;
          font-size: 30px;
          margin-left: -10%;
          color: white;
      }

    </style>
  
  <div style="position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f5f5f5;
   color: black;
   text-align: center;font-family: Georgia,Serif;">
      <p class="text-center">For Assistance, Please contact your local administrator prior to contacting the DOJ at 916-210-3305 or stopdatasupport@doj.ca.gov</p>


  </div>



</body>


</html>
